################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PmeConsoleFramework/bin/Debug
/PmeConsoleFramework/obj/Debug
/ProcessModelingEnvironment/.vs/ProcessModelingEnvironment/v16
/ProcessModelingEnvironment/packages/Newtonsoft.Json.13.0.1/lib
/ProcessModelingEnvironment/packages/Newtonsoft.Json.13.0.1
/CellarAutomatonLib/bin/Debug
/CellarAutomatonLib/obj/Debug
/PmeGeneratingConsole/bin/Debug
/PmeGeneratingConsole/obj/Debug
/PmeVisualizationWpf/bin/Debug
/PmeVisualizationWpf/obj/Debug
/ProcessModelingEnvironment/.vs/ProcessModelingEnvironment/v15
/ProcessModelingEnvironment/packages
